/node_modules
/public/hot
/public/storage
/storage/*.key
public/mix-manifest.json
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache

*.lock
package-lock.json
